@use '../../styles/variables' as *;
@use '../../styles/typography' as *;

.aotd-header {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    
    &::before {
        background-image: url("../../assets/img/vinyl-typewriter.jpg");
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: 0.45;
        content: '';
        position: absolute;
    }
    
}

.aotd-title {
    font-family: $playfair-bold;
    font-size: 3rem;
    width: 100%;
    text-align: center;
    line-height: 3rem;
    position: relative;
}