@font-face {
    font-family: 'Archivo';
    src: url(../assets/fonts/archivo-semi-bold.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$archivo: 'Archivo';

@font-face {
    font-family: 'Playfair Display';
    src: url(../assets/fonts/playfairdisplay-variablefont.woff2) format('woff2');
    font-weight: normal;
}

$playfair: 'Playfair Display';

@font-face {
    font-family: 'Playfair Display Bold';
    src: url(../assets/fonts/PlayfairDisplay-Bold.ttf) format('ttf');
}

$playfair-bold: 'Playfair Display Bold';