@use '../../styles/mixins';
@use '../../styles/typography' as *;

.aotd {
    font-family: $playfair;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}



.search-form {
    box-shadow: -15px 14px 10px -10px rgba(0,0,0,0.76);
    border-radius: 1000px;
    margin: 2rem;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    

    &__input {
        border-top-left-radius: 1000px;
        border-bottom-left-radius: 1000px;
        border: none;
        width: 80%;
        height: 2rem;
        padding-left: 1rem;
        font-family: $playfair-bold;

        &:focus {
            outline: none;
        }
    }

    &__button {
        width: 20%;
        height: 2rem;
        border-top-right-radius: 1000px;
        border-bottom-right-radius: 1000px;
        border: none;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}